<table id='tbfix' border='1px' width='100%'>

        <tr>
          
          <td style='border:0px solid #000;'>
            
            <table border='0px' width='100%'>
              <tr>
                <td>
                  <table border=0px; width='100%'>
                    <tr>
                      <td style='border:1px solid #000;width:15%;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                        Gasto Proy. 2020
                      </td>
                      <td style='border:1px solid #000;width:15%;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                        Gasto Real 2020
                      </td>
                      <td class='gtd' style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                        EGRESO
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            
          </td><td>
                      
                      <table border='0px' width='100%' id='tablareql'>
                          
                          <tr>
                              <td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;' colspan=31>Enero / 2020</td>
                          </tr>

                          <tr><td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                                          06 al 12
                                        </td><td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                                          13 al 19
                                        </td><td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                                          20 al 26
                                        </td><td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                                          27 al 02
                                        </td></tr>

                      </table>
              </td><td>
                      
                      <table border='0px' width='100%' id='tablareql'>
                          
                          <tr>
                              <td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;' colspan=29>Febrero / 2020</td>
                          </tr>

                          <tr><td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#ff6961;'>
                                          03 al 09
                                        </td><td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                                          10 al 16
                                        </td><td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                                          17 al 23
                                        </td><td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                                          24 al 01
                                        </td></tr>

                      </table>
              </td><td>
                      
                      <table border='0px' width='100%' id='tablareql'>
                          
                          <tr>
                              <td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;' colspan=31>Marzo / 2020</td>
                          </tr>

                          <tr><td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                                          02 al 08
                                        </td><td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                                          09 al 15
                                        </td><td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                                          16 al 22
                                        </td><td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                                          23 al 29
                                        </td><td style='border:1px solid #000;text-align:center;font-weight:bold;background-color:#f2f2f2;'>
                                          30 al 05
                                        </td></tr>

                      </table>
              </td></tr><tr>
        <td>
         &nbsp;    
        </td>
        <td colspan="4">
          <table border=0px; width="100%">
            <tr>
              <td>
                <div style="text-align:left;">
                  <button type="button" class="btn btn-xs btn-info" aria-label="Anterior" title="Anterior" onclick="anterior('e50bf60766aff3d5d89ff2967a578904284a9f2f5c7e61d6e9442993049c3bc5d5a7edf2d834c0a20473d66d07bf6eef4477ff32dea7fbdd6d42d689b34923a1W~pWK8h8uWxRD7lNziie7DTyXM352I3UnXUgEgWhRPE-')">
                    <span class="icon icon-arrow-left" aria-hidden="true"></span>
                  </button>
                </div>
              </td>
              <td>
                <div style="text-align:center;">
                  <button type="button" class="btn btn-xs btn-info" aria-label="Semana actual" title="Semana actual" onclick="hoy('e0a33f479c56fd9bd61a3b97159f036d37e5b9b0292777c1680de97888a29927eecfd6cff9fb2c456ab2eae32d91fd38471fef9d2de47dca85ad53cfec507942jCWSCtWnLoOBCyTRA3hHKTSRf8OcHmQN7QI5djK.Vf4-')">
                    <span class="icon icon-calendar" aria-hidden="true"></span>
                  </button>
                </div>
              </td>
              <td>
                <div style="text-align:right;">
                  <button type="button" class="btn btn-xs btn-info" aria-label="Siguiente" title="Siguiente" onclick="siguiente('a60d962be8850ab59a5ed328ffaf910bfecccece45e908a6fd694e7f0bd50d7f92de6317da4b1e64b3ae6baf8bfdbe3fa5854fc6ecfa8e11e2a14d7ac3a6bcb3WC3muhVHANwK8l0gVqfx0Aqeg2v.DRVmE3aCaXMybEw-')">
                    <span class="icon icon-arrow-right" aria-hidden="true"></span>
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>

</table>